@{
    var userRole = Session["UserRole"];

    if (userRole == null || (int)userRole != 1)
    {
        Response.Redirect("~/Home/Index");
    }
}<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    @Styles.Render("~/Content/style")
    <link href="/Content/admin.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top d-flex align-items-center">

        <div class="d-flex align-items-center justify-content-between">
            <a href="index.html" class="logo d-flex align-items-center">
                <!-- <img src="../../assets/img/logo.png" alt=""> -->
                <span class="d-none d-lg-block">LifeNTrack</span>
            </a>
            <i class="bi bi-list toggle-sidebar-btn"></i>
        </div><!-- End Logo -->

        <div class="search-bar">
            <form class="search-form d-flex align-items-center" method="POST" action="#">
                <input type="text" name="query" placeholder="Search" title="Enter search keyword">
                <button type="submit" title="Search"><i class="bi bi-search"></i></button>
            </form>
        </div><!-- End Search Bar -->

        <nav class="header-nav ms-auto">
            <ul class="d-flex align-items-center">

                <li class="nav-item d-block d-lg-none">
                    <a class="nav-link nav-icon search-bar-toggle " href="#">
                        <i class="bi bi-search"></i>
                    </a>
                </li><!-- End Search Icon-->


                <li class="nav-item dropdown pe-3">

                    <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                        <!-- <img src="../../assets/img/profile-img.jpg" alt="Profile" class="rounded-circle"> -->
                        <!-- <img src="../../assets/img/profile-img.jpg" alt="Profile" class="rounded-circle"> -->
                        <i class="bi bi-person-circle" style="font-size: 30px; "></i>
                        <span class="d-none d-md-block dropdown-toggle ps-2"><?= $userData['Fullname'] ?> </span>
                    </a><!-- End Profile Iamge Icon -->

                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                        <li class="dropdown-header">
                            <h6>Admin</h6>
                            <!-- <span>Web Designer</span> -->
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="">
                                <i class="bi bi-person"></i>
                                <span>My Profile</span>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="">
                                <i class="bi bi-gear"></i>
                                <span>Account Settings</span>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="">
                                <i class="bi bi-question-circle"></i>
                                <span>Need Help?</span>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="../../../server/controllers/signout.php">
                                <i class="bi bi-box-arrow-right"></i>
                                <span>Sign Out</span>
                            </a>
                        </li>

                    </ul><!-- End Profile Dropdown Items -->
                </li><!-- End Profile Nav -->

            </ul>
        </nav><!-- End Icons Navigation -->

    </header><!-- End Header -->
    <!-- ======= Sidebar ======= -->


    <aside id="sidebar" class="sidebar">
        <h2>
            <i class="bi bi-person-circle"></i> Admin
        </h2>
        <hr>

        <ul class="sidebar-nav" id="sidebar-nav">

            <li class="nav-item">
                <a class="nav-link <?= ($currentURL === 'index.php') ? 'active' : 'collapsed' ?>" href="/Admin/Index">
                    <i class="bi bi-grid"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link <?= ($currentURL === 'usersList.php') ? 'active' : 'collapsed' ?>" href="/Admin/UsersList">
                    <i class="bi bi-pencil-square"></i>
                    <span>Manage User</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link <?= ($currentURL === 'announcements.php') ? 'active' : 'collapsed' ?>" href="/Admin/Announcement">
                    <i class="bi bi-megaphone"></i>
                    <span>Announcements</span>
                </a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link " href="index.php">
                    <i class="bi bi-grid"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="usersList.php">
                    <i class="bi bi-grid"></i>
                    <span>Users List</span>
                </a>
            </li> -->
            <!-- <li class="nav-heading">Pages</li> -->
            <!-- <li class="nav-item">
                <a class="nav-link" href="announcements.php">
                    <i class="bi bi-person"></i>
                    <span>Announcement</span>
                </a>
            </li> -->

            <hr>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#announcementForm">Add Announcement</button>




        </ul>

    </aside><!-- End Sidebar-->


    <main id="main" class="main">
        @RenderBody()



        <div class="modal fade" id="announcementForm" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Add Announcement</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <!-- <div class="card-body"> -->
                        <!-- Floating Labels Form -->
                        <form class="row g-3" method="POST" action="../../../server/controllers/addAnnouncement.php?admin=<?= $userData['userID'] ?>">
                            <div class="col-md-12">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="floatingName" placeholder="Your Name" name="subject">
                                    <label for="floatingName">Subject</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating">
                                    <textarea class="form-control" placeholder="Address" id="floatingTextarea" style="height: 100px;" name="content"></textarea>
                                    <label for="floatingTextarea">Content</label>
                                </div>
                            </div>

                            <!-- </div> -->
                    </div>
                    <div class="modal-footer">
                        <button type="reset" class="btn btn-secondary">Reset</button>
                        <button type="submit" class="btn btn-primary">Send</button>
                    </div>

                    </form><!-- End floating Labels Form -->
                </div>
            </div>
        </div>
    </main>


    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">
        <div class="copyright">
            &copy; Copyright <strong><span>LifeNTrack</span></strong>. All Rights Reserved
        </div>

    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
